<!-- <p>{{blogform.value | json}}</p> -->
<form #blogform="ngForm" action="submit_form" method="post" (submit)="insert(blogform.value)" style="min-width: -webkit-fill-available;">
    <!-- <label for="name">Title:</label> -->
    <mat-form-field style="width: 100%;">
        <mat-label>Title</mat-label>
        <input style="text-align: center;" type="text" id="name" name="name" required ngModel matInput>
      </mat-form-field>
    <br>
    <!-- <label for="content">Content:</label> -->
    <mat-form-field style="width: 100%;">
        <mat-label >Content</mat-label>
        <textarea style="text-align: center;" id="content" name="content" rows="4" cols="50" required ngModel matInput></textarea>
      </mat-form-field>
    
    
   
    <!-- <label for="category">Category:</label> -->
    <!-- <select id="category" name="category" ngModel>
        <option value="technology">Technology</option>
        <option value="lifestyle">Lifestyle</option>
        <option value="travel">Travel</option>
    </select><br> -->

    <button mat-raised-button extended type="submit" style="margin-left: 46%;">Submit</button>
  
</form>